{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .grid__item--left-col,
  .grid__item--right-col {
    flex-grow: 1;
    width: 100%;
  }

  .card {}
  .card__inner {
    padding: 0 1.5rem 2.5rem;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .grid__item--left-col {
      flex-grow: 0;
      width: calc(25% - var(--grid-desktop-horizontal-spacing) * 1 / 4)
    }

    .grid__item--right-col {
      width: calc(75% - var(--grid-desktop-horizontal-spacing) * 3 / 4)
    }
  }
{%- endstyle -%}

<div class="page-width">
  <div class="grid scroll-trigger animate--slide-in">
    <div class="grid__item grid__item--left-col scroll-trigger animate--slide-in">
      <div class="card">
        <div class="card__inner">
          <h2>{{ section.settings.left_content }}</h2>
        </div>
      </div>
    </div>
    <div class="grid__item grid__item--right-col scroll-trigger animate--slide-in">
      <div class="card">
        <div class="card__inner">
          <p>{{ section.settings.right_content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Two Column",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "textarea",
      "id": "left_content",
      "label": "Left Column Content",
      "default": "Left column content goes here."
    },
    {
      "type": "textarea",
      "id": "right_content",
      "label": "Right Column Content",
      "default": "Right column content goes here."
    }
  ],
  "presets": [
    {
      "name": "Two Column"
    }
  ]
}
{% endschema %}
