{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .grid__item--left-col,
  .grid__item--right-col {
    flex-grow: 1;
    max-width: 100%;
    width: 100%;
  }

  .card {}
  .card__inner {
    padding: 0 1.5rem 2.5rem;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .grid__item--left-col {
      flex-grow: 0;
      width: calc(25% - var(--grid-desktop-horizontal-spacing) * 1 / 4)
    }

    .grid__item--right-col {
      width: calc(75% - var(--grid-desktop-horizontal-spacing) * 3 / 4)
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="page-width scroll-trigger animate--slide-in">
    <div class="grid">
      <div class="grid__item grid__item--left-col scroll-trigger animate--slide-in">
        <div class="card">
          <div class="card__inner">
            <h2 class="inline-richtext">
              {{ section.settings.title }}
            </h2>
          </div>
        </div>
      </div>
      <div class="grid__item grid__item--right-col scroll-trigger animate--slide-in">
        <div class="card">
          <div class="card__inner">
            <div class="rte">{{ section.settings.text }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Two Column",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Heading",
      "label": "Heading"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Content",
      "default": "<p>Content</p>"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Two Column"
    }
  ]
}
{% endschema %}
